<footer>
  <h4>Enter your full name and email address in the form below to get immediate
    <span class="bold white"> FREE</span> access to the <span class="bold white">DUBAI LIFESTYLE APP</span>
  </h4>
  <app-opt-in></app-opt-in>
  <div class="security-info">We respect your privacy and your information is 100% secure</div>
  <app-logo-security></app-logo-security>
  <div class="footer-info">
    Binary options present a significant opportunity for you to make serious earnings, but like any investment, they
    present an element of risk. Potential loss of full of partial funds should be considered at all times before making
    any trade. We urge you to explore individual tax liability laws in your country of residence, and recommend reading
    our Terms of Service for more information. Please note: It is illegal under U.S. law to solicit the purchase and
    sale of commodity options unless explicitly listed for trading on a CFTC exchange or legally exempt.</div>
  <nav class="footer-menu">
    <a href="">TERMS </a>|
    <a href="">PRIVACY</a>|
    <a href="">SUPPORT</a>
  </nav>

</footer>