<div class="header">
  <div class="header-info">
    <div class="header-info-spot">
      <span class="header-time">1</span>
      <p>Spot Remaining
        in <img src="../../assets/icon/Israel.png" alt="flag"> ISRAEL</p>
    </div>
    <app-menu></app-menu>
    <div class="header-info-time">
      <p class="header-timer" title="changeTimer" (click)='changeTimer=!changeTimer'>Time Remaining OFFER EXPIRES</p>
      <span class="header-time">
        <!--Current time   -->
        <app-current-time title="Current Time" *ngIf="changeTimer"></app-current-time>
        <!--Reverse timer  -->
        <app-reverse-timer title="Reverse timer" *ngIf="!changeTimer"></app-reverse-timer>
      </span>
    </div>
  </div>
</div>
