<footer>
  <div class="reg-form">
    <form action="">
      <app-reg-form></app-reg-form>
      <div class="btn" id='sign-up-div'>
        <app-sign-up-btn></app-sign-up-btn>
      </div>
    </form>
  </div>
  <div class="security-info">We respect your privacy and your information is 100% secure</div>
  <app-logo-security></app-logo-security>
  <div class="footer-text">
    <p>Binary options present a significant opportunity for you to make serious earnings, but like any investment, they
      present an element of risk. Potential loss of full of partial funds should be considered at all times before
      making any trade. We urge you to explore individual tax liability laws in your country of residence, and
      recommend reading our Terms of Service for more information. Please note: It is illegal under U.S. law to solicit
      the purchase and sale of commodity options unless explicitly listed for trading on a CFTC exchange or legally
      exempt.</p>
  </div>
  <nav class="footer-menu">
    <a href="">TERMS </a>|
    <a href="">PRIVACY</a>|
    <a href="">SUPPORT</a>
  </nav>
</footer>
