<main>
  <h3>Meet Scott Hathaway
  </h3>
  <h4>CEO & Founder, DUBAI LIFESTYLE APP</h4>
  <div class="team-img ceo"></div> 
  <p>If you haven’t yet heard, the <span class="black bold"> DUBAI LIFESTYLE APP</span> has just launched
    internationally
  </p>
  <p>and we’re looking for <span class="orange bold">100 beta testers</span> to make profits of over</p>
  <h2>$<span class="black bold cash ">7000</span> a day</h2>
  <p>Watch the video now to see how you can join us - <span class="orange bold">free!</span></p>
  <div class="team">
    <div class="team-img group"></div>
    <p class="itallic">Your Friends,
    </p>
    <p>The<span class="black bold"> DUBAI LIFESTYLE APP</span>Team</p>
  </div>
  <div class="unit-saying">
      <h3>What People Are Saying</h3>
    <div class="unit-say">
      By <span class="blue">Lincoln Tremlin</span> on April 10, 2016 <img src="../assets/icon/stars5.png"  alt=""/>
      <p class="brown bold member">Verified Member</p>
      For the past 3 years, I tried everything you could imagine to profit online. But I was scammed every single time.
      This was my last shot. And I couldn’t be happier to announce that I made my first $6,839.23 online!
    </div>
    <div class="unit-say">By <span class="blue">Liam Nelson</span> on May 28, 2016<img src="../assets/icon/stars5.png"  alt=""/>
      <p class="brown bold member">Verified Member</p>
      I made $11,958.31 in my first 72 hours after activating the software. This is the first time I ever made any
      money online!</div>
    <div class="unit-say"> By <span class="blue">Mark Jones</span> on June 02, 2016<img src="../assets/icon/stars5.png"  alt=""/>
      <p class="brown bold member">Verified Member</p>
      Get the Dubai Lifestyle App now so you can finally get out of the rat race and start living the life you always
      wanted!</div>
    <div class="unit-say"> By <span class="blue">Carrie McIntosh</span> on June 14, 2016<img src="../assets/icon/stars5.png"  alt=""/>
      <p class="brown bold member">Verified Member</p>
      Unbelievable! I just paid off my $37,000 student debt after only 2 weeks of using the Dubai Lifestyle App. </div>
    <div class="unit-say">By <span class="blue">Lawrence Wallace</span> on June 14, 2016<img src="../assets/icon/stars45.png"  alt=""/>
      <p class="brown bold member">Verified Member</p>
      Didn’t think it was possible that I could ever make a dime online. But within 48 hours, I made my first
      $11,902.80.</div>
    <div class="unit-say"> By <span class="blue">Frederick Lam</span> on June 14, 2016<img src="../assets/icon/stars45.png"  alt=""/>
      <p class="brown bold member">Verified Member</p>
      I deposited $250 and in 37 minutes, I made my investment back plus made a $701 profit! The Dubai Lifestyle App
      gives an unreal return on investment that I couldn’t get anywhere else.</div>
    <div class="unit-say">By <span class="blue">Frederick Lam</span> on June 14, 2016<img src="../assets/icon/stars45.png"  alt=""/>
      <p class="brown bold member">Verified Member</p>
      I deposited $250 and in 37 minutes, I made my investment back plus made a $701 profit! The Dubai Lifestyle App
      gives an unreal return on investment that I couldn’t get anywhere else. </div>
    <div class="unit-say">By <span class="blue">Mohammed Singh</span> on June 14, 2016<img src="../assets/icon/stars45.png"  alt=""/>
      <p class="brown bold member">Verified Member</p>
      Why bother investing your hard-earned money anywhere else? The Dubai Lifestyle App is the REAL deal.</div>
    <div class="unit-say">By <span class="blue">Dan Nottingham</span> on June 14, 2016<img src="../assets/icon/stars4.png"  alt=""/>
      <p class="brown bold member">Verified Member</p>
      Thanks to the Dubai Lifestyle App, I’m making a 6-figure income for the first time in my life. It’s crazy to
      believe that I started off with just $250 and now I’m profiting $23,103.43 every week.</div>
    <div class="unit-say">By <span class="blue">Charles Missoni</span> on June 14, 2016<img src="../assets/icon/stars4.png"  alt=""/>
      <p class="brown bold member">Verified Member</p>
      What's insane is that this really does work! It’s 3 AM right now and I’ve already made $1123.80 in just 34
      minutes.</div>
    <div class="unit-say">By <span class="blue">Cameron Met</span> on June 14, 2016<img src="../assets/icon/stars4.png"  alt=""/>
      <p class="brown bold member">Verified Member</p>
      The Dubai Lifestyle App gave me the money I needed to take my wife on the dream honeymoon we never had. The best
      part is I kept making money even while we were enjoying our honeymoon!</div>
    <div class="unit-say">By <span class="blue">Andrey Ricovski</span> on June 14, 2016<img src="../assets/icon/stars4.png"  alt=""/>
      <p class="brown bold member">Verified Member</p>
      The Dubai Lifestyle App changes people’s lives every minute. Will you be next?</div>
  </div>
</main>