<main>
  <!-- ========DUBAI LIFESTYLE APP Team===== -->
  <div class="area-members">
    <p>Hi! The entire team at the <span class="bold black">DUBAI LIFESTYLE APP</span>App is thrilled you’ve made it
      into
      the <span class="bold orange">MEMBER'S AREA.</span>
      You’re only one step away from officially becoming a beta tester and raking in over
    </p>
    <p class="num ">$<span class="bold black cash">7,183.82</span></p>
    <p>in profits each and</p>
    <p><span class="bold orange"> EVERY SINGLE DAY </span></p>
    <div class="add-margin">
      <p>Ready to secure your spot? Watch the video and fill out the form right now to get your </p>
      <p><span class="bold orange">FREE COPY</span> of the <span class="bold black">DUBAI LIFESTYLE APP</span>
        activated.</p>
    </div>

    <div class="team-img"></div>

    <p class="itallic">Your Friends,</p>
    <p>The <span class="bold black">DUBAI LIFESTYLE APP</span> Team</p>
  </div>
  <!-- ============3 Simple Steps=========== -->
  <div class="steps">
    <h2>Start Profiting In <span class="bold brown">3 Simple Steps</span> </h2>
    <div class="step">
      <div class="step-num step1"></div>
      <p>Complete the registration form with your accurate details and hit submit</p>
    </div>
    <div class="step">
      <div class="step-num step2"></div>
      <p>Deposit the minimum brokers’ requirement of at least $250 to activate your account.</p>
    </div>
    <div class="step">
      <div class="step-num step3"></div>
      <p>After depositing your funds, you will receive an email from me with details on how to log into your account
        and
        our recommended broker will manage your account and start making you the profits you want and deserve.</p>
    </div>
  </div>
  <!-- =========You Get When You Register============ -->
  <div class="registerInfo">
    <h2>Here’s What You Get When You Register</h2>
    <p>As soon as you enter your correct details in the form below, you get instant access
      to all of the benefits and resources offered to members of our inner circle.</p>
    <div class="pairs">

      <div class="info">
        <div class="info-icon auto-trade"></div>
        <div class="description">
          <h4>Auto-Trade Functionality</h4>
          <p>Make 99.8% accurate trades without the hassle. Just select the auto-trade function and let the profits
            roll
            in. Or you can simply make your own trades using our manual option.</p>
        </div>
      </div>

      <div class="info">
        <div class="info-icon vip-area"></div>
        <div class="description">
          <h4>VIP Members Area</h4>
          <p>Connect with the worldwide owners of the Dubai Lifestyle App. Here you can ask ques&shy;tions, share
            stories and
            comment about your profits.</p>
        </div>
      </div>
    </div>

    <div class="pairs">

      <div class="info">
        <div class="info-icon support"></div>
        <div class="description">
          <h4>24/7 Support</h4>
          <p>It’s easy to reach us! Get your questions answered any day, any time by our friendly customer support
            manager.</p>
        </div>
      </div>

      <div class="info">
        <div class="info-icon  members-only"></div>
        <div class="description">
          <h4>Members-Only Newsletter</h4>
          <p>Get exclusive access to industry insights and quick and effective tips you can use to maximize your
            profits.</p>
        </div>
      </div>

    </div>
  </div>
  <!-- ====================Watch Live Accounts/example============ -->

  <div class="watch">
    <h2>Watch Live Accounts</h2>
    <!-- <div class="watch-image"></div> -->
    <img src="./assets/image/watch.png" alt="Watch Live Accounts" class="watch-image" [ngClass]="{watchImageFull:fullScreen}"
      (click)="fullScreen=!fullScreen" title="click for full Screen ">
  </div>

  <!-- ==============Frequently Asked Questions=============== -->
  <div class="faq">
    <h2>Frequently Asked Questions</h2>

    <div class="questions">
      <div *ngFor="let it of questions" class="question" [ngClass]="{questionActive: it.isExpanded }" (click)='it.isExpanded=!it.isExpanded'>
        {{ it.title }}
        <div class="ask" *ngIf='it.isExpanded'>
          {{ it.content }}
        </div>
      </div>



    </div>
  </div>

</main>
