<router-outlet></router-outlet>

<!-- Implement new offer
 by convert PSD into 2 pages application. Angular2,
Main  base classes placed into "shared/" directory. While creation (test-offer) you should create directory into "assets/test-offer/"
(it should contain at least 1 json with translation (possible to be empty) - "assets/test-offer/translations/vocabulary_en.json").
-
 Implement offer module: attach routing and all the dependencies (can be found in the example offer).
-
 Implement 1 service (to attach JS and CSS to the offer)
-
 Attach 3 components (sign-up, opt-in и reg-form). Components should extend from "basic-".
Application
 should have 2 pages: main landing and after submitting opt-ip form user should see sign-up form.
Application
 should be fully responsive for mobile and desktop. 
Burger
 menu should be used for the mobile version.
 -->
