<form action="">
  <input type="text" name="FirstName"  placeholder="First Name">
  <input type="text" name="LastName" placeholder="Last Name">
  <input type="email" name="Email"  placeholder="Email">
  <input type="password" name="Password"  placeholder="Password">
  <div class="phone">
    <input type="text" name="Prefix" class="Prefix" placeholder="49">
    <input type="tel" name="PhoneNumber" class="PhoneNumber" placeholder="PhoneNumber">
  </div>
  <button type="submit" class="sign-up">GET FREE ACCESS</button>
</form>
