<input type="text" name="firstName" placeholder="First Name" [(ngModel)]="user.firstName">
<input type="text" name="lastName" placeholder="Last Name" [(ngModel)]="user.lastName">
<input type="email" name="email" placeholder="Email" [(ngModel)]="user.email">
<input type="password" name="password" placeholder="Password" [(ngModel)]="user.password">
<div class="phone">
  <input type="text" name="prefix" class="Prefix" placeholder="49" title="country code"[(ngModel)]="user.countryCode" >
  <input type="tel" name="phoneNumber" class="PhoneNumber" placeholder="PhoneNumber" [(ngModel)]="user.phoneNumber">
</div>

